@media (min-width: 1280px) and (max-width: 1439px) {
	.mediaViewInfo {
		--web-view-name: 1280px;
		--web-view-id: n_280px;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-show-scale-controls: true;
		--web-refresh-for-changes: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#n_280px {
		position: absolute;
		display: table;
		width: 100%;
		height: 3785px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: 1280px;
		--web-view-id: n_280px;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-show-scale-controls: true;
		--web-refresh-for-changes: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_148585_dp {
		fill: url(#Rectangle_148585_dp);
	}
	.Rectangle_148585_dp {
		position: absolute;
		overflow: visible;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
	}
	#Group_143934_dq {
		position: fixed;
		width: 1280px;
		height: 200px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_143933_dr {
		position: absolute;
		width: 1280px;
		height: 200px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_148586_ds {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_148586_ds {
		filter: drop-shadow(0px 3px 6px rgba(204, 204, 204, 0.698));
		position: fixed;
		overflow: visible;
		width: 100%;
		height: 218px;
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
	}
	#Group_143918_dt {
		position: fixed;
		width: 100%;
		height: 58.621px;
		left: 50%;
		transform: translateX(-50%);
		top: 72.948px;
		overflow: visible;
	}
	#Group_143916_du {
		position: absolute;
		width: 750;
		height: 58.621px;
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
		overflow: visible;
	}
	#Rectangle_148473_dv {
		fill: rgba(16,16,16,1);
	}
	.Rectangle_148473_dv {
		position: fixed;
		overflow: visible;
		width: 100%;
		height: 40px;
		left: 50%;
		transform: translateX(-50%);
		top: 0px;
	}
	#Free_Ground_Shipping_Copy_dw {
		left: 50%;
		transform: translateX(-50%);
		top: 12px;
		position: fixed;
		overflow: visible;
		width: 100%;
		height: 15px;
		line-height: 19px;
		margin-top: -3.5px;
		text-align: center;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(255,255,255,1);
	}
	#nav_dx {
		position: fixed;
		height: 21px;
		left: 33px;
		right: 33px;
		top: 151px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		overflow: visible;
		padding: 0px;
	}
	#Navigation_dy {
		position: relative;
		margin: 0px auto;
		overflow: visible;
		width: 33px;
		white-space: nowrap;
		line-height: 21px;
		margin-top: -3.5px;
		text-align: center;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(16,16,16,1);
	}
	#Navigation_dz {
		position: relative;
		margin: 0px auto;
		overflow: visible;
		width: 33px;
		white-space: nowrap;
		line-height: 21px;
		margin-top: -3.5px;
		text-align: center;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Navigation_d {
		position: relative;
		margin: 0px auto;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		line-height: 20px;
		margin-top: -3px;
		text-align: center;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Navigation_ea {
		position: relative;
		margin: 0px auto;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		line-height: 21px;
		margin-top: -3.5px;
		text-align: center;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Navigation_eb {
		position: relative;
		margin: 0px auto;
		overflow: visible;
		width: 93px;
		white-space: nowrap;
		line-height: 21px;
		margin-top: -3.5px;
		text-align: center;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Navigation_ec {
		position: relative;
		margin: 0px auto;
		overflow: visible;
		width: 43px;
		white-space: nowrap;
		line-height: 21px;
		margin-top: -3.5px;
		text-align: center;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Navigation_ed {
		position: relative;
		margin: 0px auto;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		line-height: 21px;
		margin-top: -3.5px;
		text-align: center;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Navigation_ee {
		position: relative;
		margin: 0px auto;
		overflow: visible;
		width: 69px;
		white-space: nowrap;
		line-height: 21px;
		margin-top: -3.5px;
		text-align: center;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Navigation_ef {
		position: relative;
		margin: 0px auto;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		line-height: 21px;
		margin-top: -3.5px;
		text-align: center;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Navigation_eg {
		position: relative;
		margin: 0px auto;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		line-height: 21px;
		margin-top: -3.5px;
		text-align: center;
		font-family: Lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Group_143891_d {
		position: fixed;
		width: 20px;
		height: 20px;
		right: 12px;
		top: 12px;
		display: flex;
		flex-direction: row;
		align-items: normal;
		justify-content: flex-start;
		flex-wrap: nowrap;
		overflow: visible;
	}
	#Group_143725_d {
		position: relative;
		width: 20px;
		height: 20px;
		align-self: auto;
		overflow: visible;
	}
	#Group_143734_ea {
		position: fixed;
		width: 173.987px;
		height: 26.5px;
		right: 35.013px;
		top: 52.5px;
		overflow: visible;
	}
	#USA_eb {
		position: absolute;
		width: 20px;
		height: 14px;
		left: 103.368px;
		top: 5.5px;
		overflow: visible;
	}
	#Rectangle_171_ec {
		fill: rgba(236,239,241,1);
	}
	.Rectangle_171_ec {
		position: absolute;
		overflow: visible;
		width: 19.999px;
		height: 14px;
		left: 0px;
		top: 0px;
	}
	#Group_2996_ed {
		position: absolute;
		width: 19.999px;
		height: 14px;
		left: 0.001px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_172_ee {
		fill: rgba(244,67,54,1);
	}
	.Rectangle_172_ee {
		position: absolute;
		overflow: visible;
		width: 19.999px;
		height: 1.556px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_173_ef {
		fill: rgba(244,67,54,1);
	}
	.Rectangle_173_ef {
		position: absolute;
		overflow: visible;
		width: 19.999px;
		height: 1.556px;
		left: 0px;
		top: 3.111px;
	}
	#Rectangle_174_eg {
		fill: rgba(244,67,54,1);
	}
	.Rectangle_174_eg {
		position: absolute;
		overflow: visible;
		width: 19.999px;
		height: 1.556px;
		left: 0px;
		top: 6.222px;
	}
	#Rectangle_175_eh {
		fill: rgba(244,67,54,1);
	}
	.Rectangle_175_eh {
		position: absolute;
		overflow: visible;
		width: 19.999px;
		height: 1.556px;
		left: 0px;
		top: 9.333px;
	}
	#Rectangle_176_ei {
		fill: rgba(244,67,54,1);
	}
	.Rectangle_176_ei {
		position: absolute;
		overflow: visible;
		width: 19.999px;
		height: 1.556px;
		left: 0px;
		top: 12.444px;
	}
	#Rectangle_177_ej {
		fill: rgba(63,81,181,1);
	}
	.Rectangle_177_ej {
		position: absolute;
		overflow: visible;
		width: 9.545px;
		height: 7.778px;
		left: 0.001px;
		top: 0px;
	}
	#Group_2997_ek {
		position: absolute;
		width: 8.977px;
		height: 5.704px;
		left: 0.342px;
		top: 1.037px;
		overflow: visible;
	}
	#Path_2859_el {
		fill: rgba(255,255,255,1);
	}
	.Path_2859_el {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2860_em {
		fill: rgba(255,255,255,1);
	}
	.Path_2860_em {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 1.818px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2861_en {
		fill: rgba(255,255,255,1);
	}
	.Path_2861_en {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 3.636px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2862_eo {
		fill: rgba(255,255,255,1);
	}
	.Path_2862_eo {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 5.454px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2863_ep {
		fill: rgba(255,255,255,1);
	}
	.Path_2863_ep {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 7.159px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2864_eq {
		fill: rgba(255,255,255,1);
	}
	.Path_2864_eq {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 0px;
		top: 4.148px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2865_er {
		fill: rgba(255,255,255,1);
	}
	.Path_2865_er {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 1.818px;
		top: 4.148px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2866_es {
		fill: rgba(255,255,255,1);
	}
	.Path_2866_es {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 3.636px;
		top: 4.148px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2867_et {
		fill: rgba(255,255,255,1);
	}
	.Path_2867_et {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 5.454px;
		top: 4.148px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2868_eu {
		fill: rgba(255,255,255,1);
	}
	.Path_2868_eu {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 7.159px;
		top: 4.148px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2869_ev {
		fill: rgba(255,255,255,1);
	}
	.Path_2869_ev {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 0.455px;
		top: 2.074px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2870_ew {
		fill: rgba(255,255,255,1);
	}
	.Path_2870_ew {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 2.272px;
		top: 2.074px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2871_ex {
		fill: rgba(255,255,255,1);
	}
	.Path_2871_ex {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 4.091px;
		top: 2.074px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2872_ey {
		fill: rgba(255,255,255,1);
	}
	.Path_2872_ey {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 5.909px;
		top: 2.074px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2873_ez {
		fill: rgba(255,255,255,1);
	}
	.Path_2873_ez {
		overflow: visible;
		position: absolute;
		width: 1.364px;
		height: 1.556px;
		left: 7.613px;
		top: 2.074px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_143716_e {
		position: absolute;
		width: 22.368px;
		height: 25px;
		left: 53px;
		top: 0.5px;
		overflow: visible;
	}
	#Group_143715_e {
		position: absolute;
		width: 22.368px;
		height: 25px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_143718_e {
		position: absolute;
		width: 25px;
		height: 25px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_143717_e {
		position: absolute;
		width: 25px;
		height: 25px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_143722_e {
		position: absolute;
		width: 22.619px;
		height: 25px;
		left: 151.368px;
		top: 1.5px;
		overflow: visible;
	}
	#Group_143721_e {
		position: absolute;
		width: 22.619px;
		height: 25px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Styles__e {
		left: 617px;
		top: 2168px;
		position: absolute;
		overflow: visible;
		width: 493px;
		height: 57px;
		line-height: 45px;
		margin-top: -3px;
		text-align: center;
		font-family: Beaufort Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 39px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Styles__fa {
		left: 617px;
		top: 2300px;
		position: absolute;
		overflow: visible;
		width: 493px;
		height: 57px;
		line-height: 45px;
		margin-top: -3px;
		text-align: center;
		font-family: Beaufort Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 39px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Styles__fb {
		left: 534px;
		top: 1501px;
		position: absolute;
		overflow: visible;
		width: 294px;
		height: 57px;
		line-height: 45px;
		margin-top: -3px;
		text-align: center;
		font-family: Beaufort Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 39px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
	#Styles__fc {
		left: 572px;
		top: 1708px;
		position: absolute;
		overflow: visible;
		width: 294px;
		height: 57px;
		line-height: 45px;
		margin-top: -3px;
		text-align: center;
		font-family: Beaufort Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 39px;
		color: rgba(16,16,16,1);
		text-transform: uppercase;
	}
}